/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-infix{
    border-top:none;
}

.mat-form-field-infix{
    border-top:none;
}

.mat-drawer-content{
    overflow: hidden;
}
button{
    padding: 3px 30px;
    border-radius: 12px;
}